In [1]:
import sys
sys.version

'3.11.7 | packaged by Anaconda, Inc. | (main, Dec 15 2023, 18:05:47) [MSC v.1916 64 bit (AMD64)]'

In [2]:
import site
site.getsitepackages()

['c:\\ProgramData\\anaconda3',
 'c:\\ProgramData\\anaconda3\\Lib\\site-packages']

In [3]:
import sys
import pandas as pd
import numpy as np
import seaborn as sns

print(sys.version)
print(np.__version__)
print(pd.__version__)
print(sns.__version__)

3.11.7 | packaged by Anaconda, Inc. | (main, Dec 15 2023, 18:05:47) [MSC v.1916 64 bit (AMD64)]
1.26.4
2.1.4
0.12.2

In [4]:
!pip install koreanize_matplotlib

Requirement already satisfied: koreanize_matplotlib in c:\users\유소희\appdata\local\programs\python\python311\lib\site-packages (0.1.1)

[notice] A new release of pip is available: 23.1.2 -> 24.0
[notice] To update, run: C:\Users\유소희\AppData\Local\Programs\Python\Python311\python.exe -m pip install --upgrade pip

Requirement already satisfied: matplotlib in c:\users\유소희\appdata\local\programs\python\python311\lib\site-packages (from koreanize_matplotlib) (3.8.4)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\유소희\appdata\local\programs\python\python311\lib\site-packages (from matplotlib->koreanize_matplotlib) (1.2.1)
Requirement already satisfied: cycler>=0.10 in c:\users\유소희\appdata\local\programs\python\python311\lib\site-packages (from matplotlib->koreanize_matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\유소희\appdata\local\programs\python\python311\lib\site-packages (from matplotlib->koreanize_matplotlib) (4.50.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\유소희\appdata\local\programs\python\python311\lib\site-packages (from matplotlib->koreanize_matplotlib) (1.4.5)
Requirement already satisfied: numpy>=1.21 in c:\users\유소희\appdata\local\programs\python\python311\lib\site-packages (from matplotlib->koreanize_matplotlib) (1.26.4)
Requirement already satisfied: packaging>=20.0 in c:\users\유소희\appdata\local\programs\python\python311\lib\site-packages (from matplotlib->koreanize_matplotlib) (24.0)
Requirement already satisfied: pillow>=8 in c:\users\유소희\appdata\local\programs\python\python311\lib\site-packages (from matplotlib->koreanize_matplotlib) (10.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\유소희\appdata\local\programs\python\python311\lib\site-packages (from matplotlib->koreanize_matplotlib) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\유소희\appdata\local\programs\python\python311\lib\site-packages (from matplotlib->koreanize_matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\유소희\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.7->matplotlib->koreanize_matplotlib) (1.16.0)

In [5]:
import matplotlib as plt
plt.rcParams.update({'figure.dpi' : '100'})

In [6]:
%config InlineBackend.figure_format = 'retina'

In [7]:
import pandas as plt

df=pd.DataFrame({"name":["곽준혁", "곽준서", "까미", "유소희"],
                 "english":[35, 10, 100, 100],
                 "math":[100, 10, 75, 80]})
df

  name  english  math
0  곽준혁       35   100
1  곽준서       10    10
2   까미      100    75
3  유소희      100    80

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     4 non-null      object
 1   english  4 non-null      int64
 2   math     4 non-null      int64
dtypes: int64(2), object(1)
memory usage: 228.0+ bytes

In [9]:
df.describe()

          english        math
count    4.000000    4.000000
mean    61.250000   66.250000
std     45.893899   39.024565
min     10.000000   10.000000
25%     28.750000   58.750000
50%     67.500000   77.500000
75%    100.000000   85.000000
max    100.000000  100.000000

In [10]:
df.describe(include = "all")

       name     english        math
count     4    4.000000    4.000000
unique    4         NaN         NaN
top     곽준혁         NaN         NaN
freq      1         NaN         NaN
mean    NaN   61.250000   66.250000
std     NaN   45.893899   39.024565
min     NaN   10.000000   10.000000
25%     NaN   28.750000   58.750000
50%     NaN   67.500000   77.500000
75%     NaN  100.000000   85.000000
max     NaN  100.000000  100.000000

In [11]:
df["math"]

0    100
1     10
2     75
3     80
Name: math, dtype: int64

In [12]:
sum(df["math"])/4

66.25

In [13]:
df.sum(numeric_only=True)

english    245
math       265
dtype: int64

In [14]:
df.sum(axis=1, numeric_only=True) # 열 방향, columns 
# = df.sum(axis="columns", numeric_only=True)

0    135
1     20
2    175
3    180
dtype: int64

In [15]:
df.sum(axis=0, numeric_only=True) # 행 방향, index 
# = df.sum(axis="index", numeric_only=True)

english    245
math       265
dtype: int64

In [16]:
df.mean(axis="index", numeric_only=True)  #평균

english    61.25
math       66.25
dtype: float64

In [17]:
mydf=pd.DataFrame({"제품": ["뽀뽀", "키스", "포옹"],
                   "가격": [1800, 30000, 5700],
                   "일일 이용 제한 횟수": [200, 5, 70]})
mydf

   제품     가격  일일 이용 제한 횟수
0  뽀뽀   1800          200
1  키스  30000            5
2  포옹   5700           70

## 4-3 외부 데이터 이용하기 - 축적된 시험 성적 데이터를 불러오자!

In [18]:
!git clone https://github.com/ai7dnn/2024-1-BDA.git

fatal: destination path '2024-1-BDA' already exists and is not an empty directory.

In [19]:
df_exam=pd.read_excel('excel_exam.xlsx')
df_exam

    id  nclass  math  english  science
0    1       1    50       98       50
1    2       1    60       97       60
2    3       1    45       86       78
3    4       1    30       98       58
4    5       2    25       80       65
5    6       2    50       89       98
6    7       2    80       90       45
7    8       2    90       78       25
8    9       3    20       98       15
9   10       3    50       98       45
10  11       3    65       65       65
11  12       3    45       85       32
12  13       4    46       98       65
13  14       4    48       87       12
14  15       4    75       56       78
15  16       4    58       98       65
16  17       5    65       68       98
17  18       5    80       78       90
18  19       5    89       68       87
19  20       5    78       83       58

In [20]:
sum(df_exam['science'])/20

59.45

In [21]:
sum(df_exam['math'])/20

57.45

In [22]:
print(sum(df_exam['english'])/20)
print(sum(df_exam['english'])/len(df_exam))
print(df_exam['english'].mean())

84.9
84.9
84.9

In [23]:
print(sum(df_exam['math'])/20)
print(sum(df_exam['math'])/len(df_exam))
print(df_exam['math'].mean())

57.45
57.45
57.45

In [24]:
df_exam_novar=pd.read_excel('excel_exam_novar.xlsx')
df_exam_novar

   1  1.1  50  98  50.1
0  2    1  60  97    60
1  3    2  25  80    65
2  4    2  50  89    98
3  5    3  20  98    15
4  6    3  50  98    45
5  7    4  46  98    65
6  8    4  48  87    12

In [25]:
df_exam_novar = pd.read_excel('excel_exam_novar.xlsx', header = None)
df_exam_novar

   0  1   2   3   4
0  1  1  50  98  50
1  2  1  60  97  60
2  3  2  25  80  65
3  4  2  50  89  98
4  5  3  20  98  15
5  6  3  50  98  45
6  7  4  46  98  65
7  8  4  48  87  12

In [26]:
print(df_exam_novar[4].mean())
print(sum(df_exam_novar[4])/len(df_exam_novar))
print(sum(df_exam_novar[4])/8)

51.25
51.25
51.25

In [27]:
df_exam=pd.read_excel('excel_exam.xlsx', sheet_name='Sheet2')
df_exam.head()

   id  nclass  math  english  science
0   1       1    50       98       50
1   2       1    60       97       60
2   3       1    45       86       78
3   4       1    30       98       58
4   5       2    25       80       65

In [28]:
df_exam.tail()

    id  nclass  math  english  science
15  16       4    58       98       65
16  17       5    65       68       98
17  18       5    80       78       90
18  19       5    89       68       87
19  20       5    78       83      100

In [29]:
df_csv_exam=pd.read_csv('exam.csv')
df_csv_exam.tail()

    id  nclass  math  english  science
15  16       4    58       98       65
16  17       5    65       68       98
17  18       5    80       78       90
18  19       5    89       68       87
19  20       5    78       83       58

In [30]:
df_csv_exam.to_csv("output_newdata.csv")

In [31]:
df_csv_exam.to_csv('output_newdata_noindex.csv', index = False)

## 정리

In [32]:
# 1. 데이터 프레임 만들기
df=pd.DataFrame({'name': ['곽준혁','까미', '유소희'],
                 'english':[10,39,40],
                 'math':[90,39,20]})
df

# 2.외부 데이터 이용하기

# 엑셀 파일 불러오기
df_exam=pd.read_excel('excel_exam.xlsx')

# CSV 파일 불러오기
df_csv=pd.read_csv('exam_csv')

# CSV 파일로 저장하기
df_midterm = pd.DataFrame({'english' : [90, 80, 60, 70],
                           'math'    : [50, 60, 100, 20],
                           'nclass'  : [1, 1, 2, 2]})
df_midterm.to_csv('output_newdata2.csv')
df_midterm.to_csv('output_newdata3.csv', index = False)

FileNotFoundError: [Errno 2] No such file or directory: 'exam_csv'